body { margin: 0;
    font-family: Arial, sans-serif; }

/* First half of page (intro) */
#intro { height: 500px; 
    padding: 50px; 
    color: white; }

/* Title, and sub title */
header { margin: auto; 
    background-color: midnightblue;
    text-align: center; }

h1 { font-family: Impact, sans-serif; 
    letter-spacing: 3px; 
    font-size: 50px; }

#intro a { text-decoration: none; 
    color: white; 
    font-size: 10px; }

/* Button links */
#links { margin: auto;
    text-align: center; 
    padding: 10px;}

/* Main content*/
#content { width: 800px; 
    height: 600px;
    margin: 0 auto;
    text-align: center; }

/* Columns in main content */
#columns { column-count: 3; 
    padding: 10px; display: inline-block; }

#columns p { width: 100%;  
    display: inline-block; }

footer { width: 600px;
    margin: 0 auto; 
    text-align: center; }
